
.imgcontact{
    
    width:100px;
     height:100px;
     margin-top:20px ;
     border-radius:100px; 
     margin-bottom: 30px;
   
      animation:imgUp 0.8s linear infinite alternate;
}
.contact{
    text-align: center;
    height: 100%;

}
 .icons{
    display: flex;
    margin-left: 50%;
 }
.i{
    margin-left: 10px;
}
.contact p{
   margin-left: 20%;
   margin-right: 20%;
}
@keyframes imgUp{
    to{
        transform: translateY(10px);
    }
}

@media (max-width: 600px) {
    .contact{
      
        
       
       margin-bottom: 400px;
    }
    
  }
 