
.ul_list {
   
    display: flex; 
    flex-wrap: wrap; 
    list-style: none;
  
}

   
h2{
    text-align: center;
    padding: 10px;
}
.ul_list .listitem{
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 20px;
    margin-left: 50px;
    width: 40%;
    height: 450px;
  
    margin-bottom: 20px;
}
 .btn0,.btn0{
    color: white;
    background-color: rgba(185, 10, 10, 0.922);
    padding: 10px;
 
    border-radius: 15px;
    margin-right: 10px;
    
 }
 .img1{
    width:100%;
    height: 70%;
    border-radius: 5px;
 }
 .titles{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(83, 77, 77);
 }
 .prices{
    font-style:oblique;
    font-weight: 500;
 }
 .search{
   display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 10%;
  margin-right: 10%; */
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;
}
.box{
   padding: 10px;
  margin-left: 20px;
}
.box  input{
   padding: 5px;
   border-radius: 5px;
}

label{
   font-size: 20px;
   margin-right: 20px;
}
.box .btn{
   border: 2px solid black;
   margin-left: 5px;
   color: rgb(224, 222, 226);
   background-color: rgb(25, 14, 35);
}

 @media (max-width: 600px) {
    .ul_list .listitem{
      width: 100%;
      /* height: 70%; */
      margin-right: 20%;
     
    }
    .search{
      min-width:100%;
     margin-left: -5px;
   
  }
  .btn0{
   padding: 3px;
  }
  .box .btn{
  margin-top: 10px;
  }
  }
  

 