.login .signupform{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    
}
.login{
   
    margin-left:  10%;
    margin-right: 10%;
    margin-top: 5%;
   
    margin-bottom: 5%;
    padding-bottom: 10%;
   
}

.login .signupform input{
   
    padding: 10px;
    border: 1px solid gray;
    
    
}
.signupform .button1{
    color: white;
    background-color: rgb(14, 10, 10);
     padding: 10;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
   
}
.signupform .button2{
    color: white;
    background-color: rgb(218, 26, 26);
    padding: 10;
    margin-bottom: 10px;
    height: 40px;


}
.login{
  
  text-align: center;
}