nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    /* height: 10px; */

    /* background-color:  linear-gradient(180deg,#fdc50f 26.71%,#fb982f 99.36%); */
    /* background: linear-gradient(180deg,#ffc813 1.71%,#fb982f 99.36%); */
    
    width: 100%;
    box-shadow: 0 0px 8px 8px rgba(10, 9, 9, 0.2);
   }
 .left{
    font-size: 1.5rem;
}
.b1{
    color: rgb(6, 6, 195);
}
.b2{
    color: rgb(225, 44, 44);
}

nav ul{
    display: flex;
   justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px; 
    margin-top: 10px;
   
}
nav ul li a:hover{
    color: rgb(225, 44, 44);
 
}
nav ul li a{
    text-decoration: none;
    color:black;

}
